body{
    margin: 0;
    background-color: #EEE;
}
.login{
    margin: auto;
    border: 1px solid #CCCCCC;
    width: 300px;
    padding: 15px;
    margin-top: 100px;
}
.topo{
    height: 40px;
    background-color: #333;
    color: #FFF;
}
.topo a{
    color: #FFF;
    text-decoration: none;    
}
.topo a div{
    height: 40px;
    line-height: 40px;
    float: right; 
    padding-right: 20px;
    padding-left: 20px;
}
.topo a div:hover{
    background-color: #777;
}
.topousuario{
    float: right;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
}
.cursoitem{
    width: 260px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 2px solid #CCC;
    border-radius: 10px;
    text-align: center;
}
.cursoinfo{
    height: 80px;
    background-color: #CCC;
}
.cursoinfo img{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.cursoinfo h3{
    margin: 0;
    padding-top: 10px;
}
.cursoleft{
    width: 30%;
    min-height: 300px;
    float: left;
    background-color: #DDD;
    overflow-y: scroll;
}
.cursoleft a{
    color: #000;
    text-decoration: none;
}
.cursoright{
    width: 70%;
    min-height: 300px;
    float: left;

    overflow-y: scroll;
}
.modulo{
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background-color: #BBB;
    margin-top: 15px;
    margin-bottom: 15px;
}
.modulo_aula{
    display: none;
}
.aula{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
}
.aula:hover{
    background-color: #AAA;
}
.formduvida textarea{
   width: 100%;
   height: 150px;
}
.progresso{
    width: 340px;
    border:1px solid #AAA;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
    font-size:20px;
}
